@import './mixins.scss';

.mainContent {
  @include pageBase;
  @include link;

  li {
    line-height: 1.6;

    &:not(:last-child) {
      margin-bottom: 20px;

      @include small {
        margin-bottom: 15px;
      }
    }
  }

  img {
    width: 36vw;
    height: auto;

    @include large {
      &:first-of-type {
        margin-right: 20px;
      }
    }

    @include just-medium {
      width: 40vw;
      &:first-of-type {
        margin-right: 20px;
      }
    }

    @include small {
      width: max-content;

      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }
}
