@use './mixins.scss';

.mainContent {
  @include mixins.pageBase;
  @include mixins.link;

  li {
    line-height: 1.7;

    &:not(:last-child) {
      margin-bottom: 10px;

      @include mixins.small {
        margin-bottom: 12px;
      }
    }
  }

  h1 {
    font-size: 2rem;
  }

  img {
    width: 36vw;
    height: auto;

    @include mixins.large {
      &:first-of-type {
        margin-right: 20px;
      }
    }

    @include mixins.just-medium {
      width: 40vw;
      &:first-of-type {
        margin-right: 20px;
      }
    }

    @include mixins.small {
      width: max-content;

      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }
}
