@use './mixins.scss';

.mainContent {
  @include mixins.pageBase;
  @include mixins.link;

  .downloadBtn {
    background-color: hsl(212, 100%, 53%);
    border: none;
    border-radius: 100px;
    padding: 12px 24px;
    color: white;
    font-family: var(--inter);
    font-weight: 600;
    font-size: 1rem;
    margin: 10px 0px;
    cursor: pointer;
    transition: 0.1s;

    &:hover, &:focus {
      background-color: hsl(170, 86%, 37%);
    }
  }

  .label {
    color: hsl(0, 0%, 20%);
  }

  .editBox {
    font-size: 3rem;

    &:focus {
      outline: none;
    }
  }
}
