@import './mixins.scss';

.mainContent {
  @include pageBase;
  @include link;

  p:focus {
    outline: none;
  }

  --sample-color: hsl(0, 0%, 2%);
  --oi: var(--ol-chiki), var(--inter);

  .previewBox {
    font-family: var(--oi);
    font-size: 7rem;
    line-height: 1;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: var(--sample-color);

    @include small {
      font-size: 3rem;
    }
  }

  .smallPreviewBox {
    span {
      opacity: 0.4;
      font-weight: 500;
    }

    p {
      font-family: var(--oi);
      font-size: 5.8rem;
      line-height: 1;
      margin: 0;
      margin-bottom: 3rem;
      margin-top: 1rem;
      color: var(--sample-color);

      @include small {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
  }

  .samplePassage {
    >span {
      opacity: 0.5;
      font-weight: 500;
      display: block;
      font-family: var(--oi);
    }

    p {
      font-family: var(--ol-chiki);
      line-height: 1.5;
      text-align: justify;
      margin-top: 1rem;

      +span {
        text-align: right;
      }
    }
  }

  li {
    line-height: 1.6;
    margin-bottom: 5px;
  }
}
