@use './mixins.scss';

.mainContent {
  @include mixins.pageBase;
  @include mixins.link;

  .fontItem {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid hsl(0, 0%, 90%);
    border-radius: 10px;
    transition: 0.1s;

    &:hover {
      background-color: hsl(0, 0%, 95%);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    * { 
      user-select: none;
    }
  }

  .label {
    font-weight: 600;
    letter-spacing: 2px;
    color: hsl(0, 0%, 30%);
  }

  .preview {
    font-size: 3rem;
    margin: 0;
  }
}
