@use './mixins.scss';

.header {
  padding: 16px 0px;
  display: flex;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  z-index: 1;

  @include mixins.small {
    flex-direction: column;
  }

  &.transparent {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
  }

  .logoLink {
    margin-left: 80px;

    @include mixins.medium {
      margin-left: 40px;
    }

    img {
      height: 50px;
      width: auto;
    }
  }

  >div {
    display: inline-block;

    @include mixins.small {
      display: flex;
      justify-content: space-between;
    }

    button {
      margin-right: 40px;
      position: relative;
      width: 52px;
      background-color: transparent;
      border: none;
      display: none;

      @include mixins.small {
        display: inline-block;
      }

      >svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:last-child {
          opacity: 0;
        }
      }
    }
  }

  ul {
    display: inline-flex;
    margin: 0;
    align-items: stretch;
    padding-inline-start: 0;
    overflow: hidden;
    // background-color: red;

    @include mixins.small {
      display: flex;
      flex-direction: column;
      height: 0;
    }
  }

  li {
    display: inline-block;
    // list-style: none;
    // background-color: blue;

    &:first-child {
      margin-left: 40px;

      @include mixins.small {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;

      @include mixins.small {
        margin-right: 0;
      }
    }

    @include mixins.small {
      display: none;
    }

    a {
      display: inline-flex;
      // background-color: red;
      border-radius: 12px;
      height: 100%;
      padding: 0 16px;
      align-items: center;
      text-decoration: none;
      color: rgb(59, 59, 59);
      font-weight: 500;
      transition: background-color 0.1s;
      // background-color: bisque;

      &:hover,
      &:focus {
        background-color: rgba(0, 119, 255, 0.1);
      }

      &:focus {
        outline: none;
      }

      @include mixins.small {
        padding: 15px 40px;
        display: flex;
        height: auto;
      }
    }
  }
}
