@use './mixins.scss';

.mainContent {
  @include mixins.pageBase;
  font-size: 1rem;

  .ol {
    font-family: var(--ocg-pro);
  }

  th {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px 12px;
    font-weight: normal;
  }

  tbody th:first-child {
    font-family: var(--ocg-pro);
    font-size: 1.2rem;
  }

  thead th {
    font-weight: 500;
  }

  table {
    border-collapse: collapse;
  }

  .tableContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    @include medium {
      display: none;
    }
  }

  .singleTableContainer {
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    @include large {
      display: none;
    }

    table {
      width: 100%;
    }
  }
}
